@model Entities.Concrete.Heading
@{
    ViewBag.Title = "NewHeading";
    Layout = "~/Views/Shared/_WriterLoyout.cshtml";
}

<br />
@using (Html.BeginForm("NewHeading", "WriterPanel", FormMethod.Post, new { @class = "m-3" }))
{
    <div class="form-group">
        @Html.Label("Başlık Adı")
        @Html.TextBoxFor(m => m.HeadingName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.HeadingName, null, new { @class = "text-danger" })
        <br />
        @Html.Label("Kategori Adı")
        @Html.DropDownListFor(m => m.CategoryId, (List<SelectListItem>)ViewBag.CategoryList, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CategoryId, null, new { @class = "text-danger" })
        <br />
        <button type="submit" class="btn btn-success">Kaydet</button>
    </div>
}

